:root {
  --primario: #222837;
  --blanco: #f1faee;
  --negro: #0e1b2e;
  --fuentePrincipal: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--negro);
  font-family: var(--fuentePrincipal);
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}
p {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
[class$="__container"] {
  max-width: 110rem;
  margin: auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: left;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.header {
  background-color: var(--primario);
  position: relative;
  padding: 1rem 0;
  border-bottom: #a8b0c539 solid 3px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.header__search {
  flex-basis: 60rem;
  display: flex;
  align-items: center;
}
.header__input {
  color: var(--blanco);
  padding: 0.6rem;
  padding-left: 2rem;
  font-size: 2rem;
  width: 100%;
  border-radius: 3rem 0 0 3rem;
  border: none;
  background-color: #0e1b2e;
  border: rgba(255, 255, 255, 0.46) 1px solid;
}
.header__input:focus,
.header__input:active {
  outline: none;
  border: white 1px solid;
}
.header__submit {
  padding: 1rem;
  border: none;
  border-radius: 0 3rem 3rem 0;
  width: 15rem;
  cursor: pointer;
  background-color: var(--negro);
  font-weight: bold;
  font-size: 1.3rem;
}
.header__logo {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.main__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  margin-bottom: 3rem;
  height: 100vh;
}


.vide__iframe {
  border-radius: 2rem;
  height: 30rem;
}
@media (min-width: 900px) {
  .main__container {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 90vh;
  }
  .video {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .vide__iframe {
    border-radius: 2rem;
    height: 20rem;
  }
  .recomendados {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .vide__iframe {
    border-radius: 2rem;
    height: 55rem;
  }
  .comentarios {
    grid-column: 3/4;
  }
  .descripccion {
    height:55rem;
    overflow: auto;
  }
}
.comentarios {
  overflow: auto;
  height: 30rem;
}
.recomendados {
  padding-top: 1rem;
  overflow: auto;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.comentario__nombre {
  font-size: 2rem;
}
.comentarios__element {
  border: solid 1px rgba(221, 203, 203, 0.225);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}



.card{
  border: solid 2px rgba(255, 255, 255, 0.194);
  min-width: 20rem;
  border-radius: 1rem;
}








/* ------- estilos scroll coemntarios */

.comentarios::-webkit-scrollbar {
  -webkit-appearance: none;
}

.comentarios::-webkit-scrollbar:vertical {
  width:10px;
}

.comentarios::-webkit-scrollbar-button:increment,.comentarios::-webkit-scrollbar-button {
  display: none;
} 

.comentarios::-webkit-scrollbar:horizontal {
  height: 10px;
}

.comentarios::-webkit-scrollbar-thumb {
  background-color: #79797900;
  border-radius: 20px;
  border: 1px solid #f1f2f36a;
}

.comentarios::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* ------- estilos scroll  descripccion */



.descripccion::-webkit-scrollbar {
  -webkit-appearance: none;
}

.descripccion::-webkit-scrollbar:vertical {
  width:10px;
}

.descripccion::-webkit-scrollbar-button:increment,.descripccion::-webkit-scrollbar-button {
  display: none;
} 

.descripccion::-webkit-scrollbar:horizontal {
  height: 10px;
}

.descripccion::-webkit-scrollbar-thumb {
  background-color: #79797900;
  border-radius: 20px;
  border:1px solid #f1f2f36a;
}

.descripccion::-webkit-scrollbar-track {
  border-radius: 10px;  
}


/* estilos scrolls recomendados */



.recomendados::-webkit-scrollbar {
  -webkit-appearance: none;
}

.recomendados::-webkit-scrollbar:vertical {
  width:10px;
}

.recomendados::-webkit-scrollbar-button:increment,.recomendados::-webkit-scrollbar-button {
  display: none;
} 

.recomendados::-webkit-scrollbar:horizontal {
  height: 10px;
}

.recomendados::-webkit-scrollbar-thumb {
  background-color: #79797900;
  border-radius: 20px;
  border: 1px solid #f1f2f36a;
}

.descripccion::-webkit-scrollbar-track {
  border-radius: 10px;  
}



